img{
	width:650;
	border:4px solid gray;
	border-radius: 8px;
}

body{
	background-image: url(https://scontent.ftlv3-1.fna.fbcdn.net/v/t1.0-9/89813958_3643903322347024_7263270776822824960_o.jpg?_nc_cat=111&_nc_sid=8bfeb9&_nc_ohc=9wt75UyNa1QAX8C8iJg&_nc_ht=scontent.ftlv3-1.fna&oh=ecff6b8938297cab916f8c124973a55d&oe=5F925E71);
	background-size:cover;
	background-attachment:fixed;
	
	font-family:Arial;
}


.red{
	color: red;
	font-size: 32px;
}

#specialstyle{
	width:50%;
	border:2px solid black;
	background-color: CadetBlue;
}